 

<nav class=" border-gray-200 bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <div class="text-2xl text-[#00A884] font-bold font-poppins flex items-center space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-[#e2e7e5]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 11c0 1.656-1.343 3-3 3S6 12.656 6 11s1.343-3 3-3 3 1.344 3 3zM18 11c0 1.656-1.343 3-3 3s-3-1.344-3-3 1.343-3 3-3 3 1.344 3 3zM8 16c-3 0-5 2-5 4v2h10v-2c0-2-2-4-5-4zm8 0c-1.5 0-2.871.681-3.742 1.738A9.984 9.984 0 0116 16c3 0 5 2 5 4v2h-8v-2c0-2 2-4 5-4z" />
            </svg>
            <span>Chatter Box</span>
        </div>
    
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button type="button" class="text-white bg-[#00A884] hover:text-[#e2e7e5] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-2 text-center " (click)="onLogout()">Logout</button>
       
    </div>
 
    </div>
  </nav>
  