<section class="bg-[#edede9] min-h-screen flex justify-center lg:items-center p-4 lg:pt-0 pt-10">
    <div class="w-full max-w-lg flex flex-col items-center">
      <h1 class="text-4xl font-bold text-[#00A884] mb-6 drop-shadow-lg">
        <span class="block">Welcome to</span>
        <span class="block mt-2 text-5xl text-[#007B5E]">Chatter Box</span>
      </h1>
      <form action="#" class="w-full grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-6">
       
  
       
  
        <div class="col-span-1 sm:col-span-2 lg:col-span-6">
          <label for="Email" class="block text-sm font-medium text-gray-700"> Email </label>
          <input
            type="email"
            id="Email"
            name="email"
            class="mt-1 w-full rounded-md p-2 border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
          />
        </div>
  
        <div class="col-span-1 sm:col-span-2 lg:col-span-6">
          <label for="Password" class="block text-sm font-medium text-gray-700"> Password </label>
          <input
            type="password"
            id="Password"
            name="password"
            class="mt-1 w-full rounded-md p-2 border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
          />
        </div>
  
        <div class="col-span-1 sm:col-span-2 lg:col-span-6">
          <button
            class="inline-block rounded-md border border-[#00A884] bg-[#00A884] px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent w-full hover:text-gray-700 focus:outline-none focus:ring active:text-blue-500"
          >
            Sign In
          </button>
        </div>
  
        <div class="col-span-1 sm:col-span-2 lg:col-span-6 sm:flex sm:items-center sm:justify-between">
          <p class="mt-4 text-sm text-gray-500 sm:mt-0">
            Didn't have an account yet!
            <a href="/register" class="text-gray-700 underline">Register</a>.
          </p>
        </div>
      </form>
    </div>
  </section>
  